In [1]:
import pandas as pd
pd.__version__

'2.3.3'

In [2]:
import pandas as pd
df = pd.read_csv("../data/practice_dataset.csv")
df

                                  text language     label
0        میں   پائتھن   سیکھ   رہا ہوں       ur   neutral
1                       أحب البرمجة!!!       ar  positive
2       I   am   learning    Python!!!       en  positive
3     هذا نص يحتوي على مسافات زائدة          ar   neutral

In [3]:
df.head()

                                  text language     label
0        میں   پائتھن   سیکھ   رہا ہوں       ur   neutral
1                       أحب البرمجة!!!       ar  positive
2       I   am   learning    Python!!!       en  positive
3     هذا نص يحتوي على مسافات زائدة          ar   neutral

In [4]:
df.columns

Index(['text', 'language', 'label'], dtype='object')

In [5]:
df.shape

(4, 3)

In [6]:
df["text"]

0          میں   پائتھن   سیکھ   رہا ہوں
1                         أحب البرمجة!!!
2         I   am   learning    Python!!!
3       هذا نص يحتوي على مسافات زائدة
Name: text, dtype: object

In [7]:
df.iloc[0]

text        میں   پائتھن   سیکھ   رہا ہوں
language                               ur
label                             neutral
Name: 0, dtype: object

In [8]:
df.iloc[0]["text"]

'میں   پائتھن   سیکھ   رہا ہوں'

In [9]:
df["text"]

0          میں   پائتھن   سیکھ   رہا ہوں
1                         أحب البرمجة!!!
2         I   am   learning    Python!!!
3       هذا نص يحتوي على مسافات زائدة
Name: text, dtype: object

In [10]:
df["clean_text"] = df["text"].str.strip()
df

,text,language,label,clean_text
0,میں پائتھن سیکھ رہا ہوں,ur,neutral,میں پائتھن سیکھ رہا ہوں
1,أحب البرمجة!!!,ar,positive,أحب البرمجة!!!
2,I am learning Python!!!,en,positive,I am learning Python!!!
3,هذا نص يحتوي على مسافات زائدة,ar,neutral,هذا نص يحتوي على مسافات زائدة

In [11]:
df["clean_text"] =df["clean_text"].str.strip().str.join(" ")
df[["text", "clean_text"]]

,text,clean_text
0,میں پائتھن سیکھ رہا ہوں,م ی ں پ ا ئ ت ھ ن س ی ک ھ ر ...
1,أحب البرمجة!!!,أ ح ب ا ل ب ر م ج ة ! ! !
2,I am learning Python!!!,I a m l e a r n i n g P y ...
3,هذا نص يحتوي على مسافات زائدة,ه ذ ا ن ص ي ح ت و ي ع ل ى م س ا ف ا ت ...

In [12]:
df["clean_text"] =df["clean_text"].str.replace(r"[!؟،,.]+", "", regex=True)
df[["clean_text"]]

                                          clean_text
0  م ی ں       پ ا ئ ت ھ ن       س ی ک ھ       ر ...
1                           أ ح ب   ا ل ب ر م ج ة
2  I       a m       l e a r n i n g         P y ...
3  ه ذ ا   ن ص   ي ح ت و ي   ع ل ى   م س ا ف ا ت ...

In [15]:
df["text_lenght"] =df["clean_text"].str.len()
df[["clean_text", "text_lenght"]]

                                          clean_text  text_lenght
0  م ی ں       پ ا ئ ت ھ ن       س ی ک ھ       ر ...           57
1                           أ ح ب   ا ل ب ر م ج ة              24
2  I       a m       l e a r n i n g         P y ...           56
3  ه ذ ا   ن ص   ي ح ت و ي   ع ل ى   م س ا ف ا ت ...           57

In [20]:
df[df["text_length"] < 10]

Empty DataFrame
Columns: [text, language, label, clean_text, text_lenght, text_length]
Index: []

In [17]:
# FINAL text cleaning (correct flow)
df["clean_text"] = (
    df["text"]
    .str.replace(r"[!؟،,.]+", "", regex=True)
    .str.replace(r"\s+", " ", regex=True)
    .str.strip()
)

df[["text", "clean_text"]]

                                  text                     clean_text
0        میں   پائتھن   سیکھ   رہا ہوں        میں پائتھن سیکھ رہا ہوں
1                       أحب البرمجة!!!                    أحب البرمجة
2       I   am   learning    Python!!!           I am learning Python
3     هذا نص يحتوي على مسافات زائدة     هذا نص يحتوي على مسافات زائدة

In [19]:
df["text_length"] = df["clean_text"].str.len()

In [21]:
df[df["text_length"] < 10]

Empty DataFrame
Columns: [text, language, label, clean_text, text_lenght, text_length]
Index: []