In [1]:
import pandas as pd

In [2]:
df = pd.read_json("../data/annotations.json")
df

                      text language     label
0  میں پائتھن سیکھ رہا ہوں       ur   neutral
1              أحب البرمجة       ar  positive
2     This is spam content       en    unsafe
3          هذا تعليق محايد       ar   neutral

In [3]:
df.head()

                      text language     label
0  میں پائتھن سیکھ رہا ہوں       ur   neutral
1              أحب البرمجة       ar  positive
2     This is spam content       en    unsafe
3          هذا تعليق محايد       ar   neutral

In [4]:
df.columns

Index(['text', 'language', 'label'], dtype='object')

In [5]:
df.shape

(4, 3)

In [6]:
df.iloc[0]

text        میں پائتھن سیکھ رہا ہوں
language                         ur
label                       neutral
Name: 0, dtype: object

In [7]:
df.iloc[0]["text"]

'میں پائتھن سیکھ رہا ہوں'

In [8]:
df[df["language"].isin(["ur", "ar"])]

                      text language     label
0  میں پائتھن سیکھ رہا ہوں       ur   neutral
1              أحب البرمجة       ar  positive
3          هذا تعليق محايد       ar   neutral

In [9]:
df[df["label"] == "neutral"]

                      text language    label
0  میں پائتھن سیکھ رہا ہوں       ur  neutral
3          هذا تعليق محايد       ar  neutral

In [10]:
df[(df["language"].isin(["ur", "ar"])) & (df["label"] == "neutral")]

                      text language    label
0  میں پائتھن سیکھ رہا ہوں       ur  neutral
3          هذا تعليق محايد       ar  neutral

In [11]:
df.head()

                      text language     label
0  میں پائتھن سیکھ رہا ہوں       ur   neutral
1              أحب البرمجة       ar  positive
2     This is spam content       en    unsafe
3          هذا تعليق محايد       ar   neutral

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      4 non-null      object
 1   language  4 non-null      object
 2   label     4 non-null      object
dtypes: object(3)
memory usage: 228.0+ bytes

In [13]:
df["clean_text"] = (
    df["text"]
    .str.replace(r"[!؟،,.]+", "", regex=True)
    .str.replace(r"\s+", " ", regex=True)
    .str.strip()
)

df[["text", "clean_text"]]

                      text               clean_text
0  میں پائتھن سیکھ رہا ہوں  میں پائتھن سیکھ رہا ہوں
1              أحب البرمجة              أحب البرمجة
2     This is spam content     This is spam content
3          هذا تعليق محايد          هذا تعليق محايد

In [14]:
allowed_labels = {"neutral", "positive", "unsafe"}
df[~df["label"].isin(allowed_labels)]

Empty DataFrame
Columns: [text, language, label, clean_text]
Index: []

In [15]:
df[(df["language"] == "ur") & (df["label"] == "positive")]

Empty DataFrame
Columns: [text, language, label, clean_text]
Index: []

In [16]:
final_df = df[["clean_text", "language", "label"]]
final_df

                clean_text language     label
0  میں پائتھن سیکھ رہا ہوں       ur   neutral
1              أحب البرمجة       ar  positive
2     This is spam content       en    unsafe
3          هذا تعليق محايد       ar   neutral