In [1]:
import pandas as pd

df = pd.read_csv("../data/cleaned_dataset.csv")
df

,text,language,label,clean_text
0,میں پائتھن سیکھ رہا ہوں,ur,neutral,میں پائتھن سیکھ رہا ہوں
1,أحب البرمجة!!!,ar,positive,أحب البرمجة
2,I am learning Python!!!,en,positive,I am learning Python
3,هذا نص يحتوي على مسافات زائدة,ar,neutral,هذا نص يحتوي على مسافات زائدة

In [2]:
df["text_length"] = df["clean_text"].str.len()

df[df["text_length"] < 10]

Empty DataFrame
Columns: [text, language, label, clean_text, text_length]
Index: []

In [3]:
df[df.duplicated(subset="clean_text", keep=False)]

Empty DataFrame
Columns: [text, language, label, clean_text, text_length]
Index: []

In [4]:
import re

def contains_english(text):
    return bool(re.search(r"[a-zA-Z]", text))

df[
    (df["language"].isin(["ur", "ar"])) &
    (df["clean_text"].apply(contains_english))
]

Empty DataFrame
Columns: [text, language, label, clean_text, text_length]
Index: []

In [5]:
df["label"].value_counts(normalize=True)

label
neutral     0.5
positive    0.5
Name: proportion, dtype: float64

In [6]:
qa_summary = {
    "total_records": len(df),
    "short_texts": (df["text_length"] < 10).sum(),
    "duplicates": df.duplicated(subset="clean_text").sum(),
}

qa_summary

{'total_records': 4, 'short_texts': np.int64(0), 'duplicates': np.int64(0)}